html{
  background-color:#d0d0d0;
  width: 100%;
  height: 100%;
}

body{
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.menu1{
  background-color:#757575;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50%;
  text-align: center;
  float:left;
  text-decoration: none;
  font-size: 17px;
  text-decoration: none;
  color:#fff;
  }

.menu2{
  background-color:#757575;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 33.33%;
  text-align: center;
  float:left;
  text-decoration: none;
  font-size: 17px;
  text-decoration: none;
  color:#fff;
  }

a:hover{
    background-color: black;
}     

.footer{
  background-color: #757575;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  color:#fff;
  vertical-align: middle;
  text-align: center;
  display: inline;
  left : 0px;
}

#contenu {
    margin-left:110px;
    }   

.exemple_un {
    background-color: teal;
    color: white;
    }

    form {
        /* Uniquement centrer le formulaire sur la page */
        margin: 0 auto;
        width: 500px;
        /* Encadré pour voir les limites du formulaire */
        padding: 1em;
        border: 1px solid #000000;
        border-radius: 1em;
        background-color: #e0e0e0;
        color: #000000;
      }
      
      form div + div {
        margin-top: 1em;
      }
      
      label {
        /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
        display: inline-block;
        width: 100px;
        text-align: right;
      }
      
      input, textarea, select {
        /* Pour s'assurer que tous les champs texte ont la même police.
           Par défaut, les textarea ont une police monospace */
        font: 1em sans-serif;
      
        /* Pour que tous les champs texte aient la même dimension */
        width: 300px;
        box-sizing: border-box;
      
        /* Pour harmoniser le look & feel des bordures des champs texte */
        border: 1px solid #999;
      }
      
      input:focus, textarea:focus {
        /* Pour souligner légèrement les éléments actifs */
        border-color: #000;
      }
      
      textarea {
        /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
        vertical-align: top;
      
        /* Pour donner assez de place pour écrire du texte */
        height: 5em;
      }
      
      .button {
        /* Pour placer le bouton à la même position que les champs texte */
        padding-left: 90px; /* même taille que les étiquettes */
      }
      
      button {
        /* Cette marge supplémentaire représente grosso modo le même espace que celui
           entre les étiquettes et les champs texte */
        margin-left: .5em;
      }

#result_display {
   background: #ffffff;
  }